.item {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Accordian-wrapper{
    margin: 25vh 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}