.button {
    width: fit-content;
    min-width: 4rem;
    text-align: center;
    border: .15rem black solid;
    padding: .25rem;
    margin: 1rem;
    border-radius: 10px;
    font-family: monospace;
    cursor: pointer;
}