$height:300px;
$width:300px;

.mouse{
    height: 50px;
    width: 50px;
    left: 0;
    position: absolute;
    background-color: invert($color: #000000);
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    opacity: 0.5;
}

.wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .box {
        height: $height;
        width: $width;
        background: linear-gradient(to right bottom, lightblue, lightgreen);
        border-radius: 2rem;
        margin: 10px;
    }

    button {
        padding: 1rem 5rem;
        border: 0;
        border-radius: 30px;
        font-size: 1.5rem;
        color: white;
        background: linear-gradient(to right bottom, lightgreen, green);
        cursor: pointer;

        &:active{
            scale: 0.95;
        }
    }
}