.wrapper {
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border: .25rem teal solid;
    border-radius: 4px;
    padding: 2rem;
    font-family: monospace;

    .passwdBox {
        display: flex;
        padding: 1rem;
        color: teal;
        
        .passwd {
            overflow-wrap: break-word;
            min-width: 20rem;
            border: .15rem solid orange;
            border-radius: 4px;
            padding: .25rem;
            margin-right: 2rem
            
        }
        .passwd:hover{
            cursor:copy;
        }

        .lengthBox {
            min-width: 3rem;
            border: .15rem solid orange;
            border-radius: 4px;
            text-align: center;
        }
    }

    .properties {
        color: teal;
        font-size: 1.1rem;
        font-weight: bold;
        display: flex;
        justify-content:space-between;
        padding: 1rem;

        .checkBox {
            cursor: pointer;
        }
        
        .checkBox:checked {
            accent-color: orange;
        }
    }
}